<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue数据绑定</title>
    <script type="text/javascript" src="../vue.js"></script>
</head>
<body>
<div class="container">
    <h2>Vue.js数据绑定</h2>
    <div id="app">
        <div>
            <img v-if="user.photo":src="user.photo">
            <img v-else src="" alt="..images/defaultAvatar.png">
        </div>
        <hr>
        <div>
            产品价格...
        </div>

        <template v-if="product.bookmarked">
            <span class="glyphicon glyphicon-bookmark text-success"></span>
            <span class="text-info">已收藏{{product.bookmarkedTimes}}次</span>
        </template>
    </div>
</div>

<script>
    var vm = new Vue({
        el:'#app',
        data:{
            user:{
                photo:'http://tva1.sinaimg.cn/crop.0.0.400.400.180/6d2828b2jw8f193hei9uij20b40b4mxd.jpg',
            },
            product:{
                bookmarked:true,
                bookmarkedTimes:26
            }
        }
    })
</script>

</body>
</html>